.App {
  font-family: sans-serif;
  //text-align: center;
  margin: 20px
}
body{
  //background: #434259;
  background: rgb(34,193,195);
  //background: linear-gradient(0deg, #c1c322 0%, #fd2d53 100%);
}

.route-container{
  background:red
}